.root {
    -fx-background-image: url("../assets/background-dim.png");
}

#board {
    -fx-background-image: url("../assets/board/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}