#how-to-play {
    -fx-background-color: #baf0ff;
}

.how-to-play-title {
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.how-to-play-subtitle {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.how-to-play-paragraph {
    -fx-font-size: 16;
}