.root {
    -fx-background-image: url("../assets/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: slategrey;
    -fx-background-size: 150%;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: #dacc3e;
    -fx-font-weight: bolder;
    -fx-font-size: 16.0;
    -fx-border-color: BLACK;
    -fx-border-width: 2.0;
    -fx-border-radius: 15.0;
    -fx-background-radius: 15.0;
}

.button:hover {
    -fx-background-color: #e5d058;
}

.button:armed {
    -fx-background-color: #afa638;
}